@import url(https://fonts.googleapis.com/css2?family=Bangers&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply bg-gray-50 font-poppins
}

.bg-custom-bug {
    background: #92BC2C;
}

.bg-custom-dark {
    background: #595761;
}

.bg-custom-dragon {
    background: #0C69C8;
}

.bg-custom-electric {
    background: #F2D94E;
}

.bg-custom-fairy {
    background: #EE90E6;
}

.bg-custom-fighting {
    background: #D3425F;
}

.bg-custom-fire {
    background: #FBA54C;
}

.bg-custom-flying {
    background: #A1BBEC;
}

.bg-custom-ghost {
    background: #5F6DBC;
}

.bg-custom-grass {
    background: #5FBD58;
}

.bg-custom-ground {
    background: #DA7C4D;
}

.bg-custom-ice {
    background: #75D0C1;
}

.bg-custom-normal {
    background: #A0A29F;
}

.bg-custom-poison {
    background: #B763CF;
}

.bg-custom-psychic {
    background: #FA8581;
}

.bg-custom-rock {
    background: #C9BB8A;
}

.bg-custom-steel {
    background: #5695A3;
}

.bg-custom-water {
    background: #539DDF;
}

.bg-custom-unknown {
    background: #151515
}
