name: Backmerge Pipeline
on:
  workflow_run:
    workflows: ["Semantic version Pipeline"]
    types:
      - completed
    branches:
      - master

jobs:
  main:
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion == 'success'
    steps:
      - name: Merge master into development
        uses: devmasx/merge-branch@master
        with:
          type: now
          from_branch: master
          target_branch: development
          github_token: ${{ secrets.GITHUB_TOKEN }}
          message: 'chore(release): merge branch master into development [skip ci]'
