name: Backmerge Pipeline
on:
  workflow_call:

jobs:
  main:
    runs-on: ubuntu-latest
    if: github.event.head_commit.author.name == 'semantic-release-bot'
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Cache npm dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package.json', '**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install semantic release npm package
        run: npm install @kilianpaquier/semantic-release-backmerge@1.6.20 -D
      - name: Run Semantic Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npx semantic-release --extends ./.releaserc.backmerge.json
