name: Semantic version Pipeline
on:
  push:
    branches:
      - master

jobs:
  main:
    runs-on: ubuntu-latest
    env:
      GIT_TOKEN: ${{ secrets.GIT_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_sha }}
          persist-credentials: false
      - name: Cache npm dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package.json', '**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install backmerge npm package
        run: npm install @kilianpaquier/semantic-release-backmerge@1.6.20 @semantic-release/exec@7.1.0 -D
      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v4
